.pod-data::-webkit-scrollbar {
    display: none;
  }

  .pod-image{
    width : 150px;
    height: 150px;
    padding-right: 25px;
  }

  /* .pod-image img {
   width :100px;
   height:100px;
} */

.Podcast-Card{
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  flex-shrink: 0;
  
}

